<!-- display all post -->
    All posts ! <br>
    {% for post in page_object %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">{{ post.content }}</p>
                 <!-- if post.like_status request.user  -->
                    {% if request.user in post.like_by.all %}
                        <button class="btn btn-warning like-button" data-post-id="{{post.id}}">Unlike</button>
                    {% else %}
                        <button class="btn btn-info like-button" data-post-id="{{post.id}}">Like</button>
                    {% endif %}
                <p class="card-text like-count">{{post.like_count}}</p>
                <p>{{post.like_status}}</p>
                <p class="card-text"><small class="text-muted">Posted on {{ post.timestamp }}</small></p>
            </div>
        </div>
    {% empty %}
        
    {% endfor %}
    